[Unit]
Description=Ban SMTP 
After=network.target
[Service]
Type=oneshot
ExecStart=/usr/bin/ban-smtp.sh
ExecReload=/usr/bin/ban-smtp.sh
ExecStop=/usr/bin/allow-smtp.sh
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
