[Unit]
Description=Ban SMTP 
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service
[Service]
Type=oneshot
ExecStart=/usr/bin/ban-smtp.sh
ExecReload=/usr/bin/ban-smtp.sh
ExecStop=/usr/bin/allow-smtp.sh
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
