[Unit]
Description=White List on iptables
Documentation=
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/whitelist.sh
ExecReload=/usr/bin/whitelist.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
